.navbar-toggle {
  margin-left: 15px;
}

.navmenu {
  z-index: -1;
}

.canvas {
  position: relative;
  left: 0;
  z-index: 2;
  height: 100%;
  padding: 0;
  background: white;
}

@media (min-width: 0) {
  .navbar-toggle {
    display: block; /* force showing the toggle */
  }
}

@media (min-width: 992px) {
  body {
    padding: 0;
  }
  .navbar {
    right: auto;
    background: none;
    border: none;
  }
}
